<div class='head'><h1>Calculator</h1></div>
<div class="calc">
 
  <br><br>
  <div class="cont" style='text-align: center;'>
    <input type="string" class="calculator-screen" [value]="result" disabled>
    <br>
  </div>

  <div class="cont8" style='text-align: center;'>
    <button type="button" (click) = "getNumber('1')" value="1">1</button>
    <button type="button" (click) = "getNumber('2')" value="2">2</button>
    <button type="button" (click) = "getNumber('3')" value="3">3</button>
    <button (click) = "getOperation('+')" class="operator" value="+">+</button>
  </div>
  <div class="cont8" style='text-align: center;'>
    <button type="button" (click) = "getNumber('4')" value="4">4</button>
    <button type="button" (click) = "getNumber('5')" value="5">5</button>
    <button type="button" (click) = "getNumber('6')" value="6">6</button>
    <button (click) = "getOperation('-')" class="operator" value="-">_</button>
  </div>
  <div class="cont8" style='text-align: center;'>
    <button type="button" (click) = "getNumber('7')" value="7">7</button>
    <button type="button" (click) = "getNumber('8')" value="8">8</button>
    <button type="button" (click) = "getNumber('9')" value="9">9</button>
    <button (click) = "getOperation('*')" class="operator" value="*">X</button>
   
  </div>
  <div class="cont8" style='text-align: center;'>
    <button type="button" (click)="clear()" class="all-clear" value="all-clear">C</button>
    <button type="button" (click)="getNumber('0')" value="0">0</button>
    <button (click) = "getOperation('/')" class="operator" value="/">÷</button>
    <button type="button" (click) = "getOperation('=')" class="equal-sign" value="=">=</button>
   
  </div>
</div>